@model AspNetCoreKanbanBoard.Models.UserStory

<div class="card mb-3">
    <div class="d-flex justify-content-between card-header align-content-center">

        <a asp-action="Edit" asp-route-id="@Model.Id" class=" btn btn-secondary float-right"><i class="fas fa-edit"></i></a>
        <h5 class="card-title my-auto">@Model.Title</h5>
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <button type="submit" class=" btn btn-danger float-right"><i class="fas fa-trash"></i></button>
        </form>
    </div>
    <div class="card-body">
        

        <label class="lead" asp-for="Description">Description</label>
        <p class="card-text">@Model.Description</p>

        <label class="lead" asp-for="Estimation">Estimation</label>
        <p class="card-text">@Model.Estimation</p>

        <label class="lead" asp-for="Priority">Priority</label>
        <p class="card-text">@Model.Priority</p>

        <label class="lead" asp-for="UserEmail">User</label>
        <p class="card-text">@Model.UserEmail</p>

    </div>


    <div class="card-footer d-flex justify-content-between">
        <form method="post" asp-action="MoveUserStoryBackward" asp-route-id="@Model.Id">
            @if (@Model.CurrentState != UserstoryState.ToDo)
            {
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left"></i>
                </button>
            }
        </form>
        <form method="post" asp-action="MoveUserStoryForward" asp-route-id="@Model.Id">
            @if (@Model.CurrentState != UserstoryState.Done)
            {
                <button type="submit" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-right"></i>
                </button>
            }
        </form>
    </div>
    @*<button type="button"><span class="glyphicon glyphicon-menu-left"></span>Send to previous column</button>
        <button type="button"><span class="glyphicon glyphicon-menu-right"></span> to next column</button>*@
</div>
